<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:object="${post}">
        <title th:text="${post.title}"></title>
    </th:block>
    <th:block th:replace="~{fragments/header.html :: header}"/>
</head>
<body>
    <th:block th:replace="~{/fragments/navbar.html :: navbar}"/>
        <div  th:object="${post}">
            <h1 th:text="*{title}"></h1>
            <br />
            <th:block th:text="*{content}"></th:block>
            <br />
            Posted by:
            <th:block th:text="*{owner.email}"></th:block>
            <br/>
            <a th:href="*{id} + '/edit'">Edit Post</a>
        </div>
</body>
</html>